<style>
    .required:after {
      content:" *";
      color: red;
    }
     
  .element { 
    position: absolute;
    top: 10px; 
    right: 10px; 
    
  } 
  
  </style>
  <script>
  $(document).ready(function() {
   console.log("hh")
    $('.my-select').selectpicker('show');
});
 </script>
  <div class="animated fadeIn">
    <div class="row">
      
      <div class="col-sm-12">
        <div class="card ">
          <div class="card-header d-flex justify-content-between" >
            <strong>Add New Customer</strong>
            
            <div class="mx-auto" >
            <strong >Status</strong>
            <span class="badge badge-pill badge-success">Active</span>
          </div>
          </div>
          <form  #myform="ngForm" (ngSubmit)="createCustomer(myform)" >
          <div class="card-body col-sm-12">
            <div class="row">
            <div class="form-group col-sm-4">
              <label  class="required" >Customer</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input type="text" id="name_Customer" name="name_Customer" class="form-control"  required ngModel placeholder="Name of customer">
            </div>
            
            </div>

            <div class="form-group col-sm-4">
                <label  >SAP Partner</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" id="partner" name="partner" class="form-control" ngModel placeholder="SAP Partner">
              </div>
              
              </div>

              <div class="form-group col-sm-4">
                <label for="Business_Unit">Business Unit</label>
                  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-film icons"></i></span>
                    </div>
                 
                    <select id="Business_Unit" name="Business_Unit" ngModel class="form-control">
                        <option value="" disabled selected>Select a Business Unit(s)</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                      </select>
                </div>
                
               
              </div>

            </div>



            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="Business_Line"  >Business Line</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-picture icons"></i></span>
                    </div>
                    <select id="Business_Line" name="Business_Line" ngModel class="form-control">
                        <option value="" disabled selected>Select a Business Line(s)</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                      </select>
                  </div>
                  
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="Departement"  >Pole / Departement </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-flag icons"></i></span>
                    </div>
                    <select id="Departement" name="Departement" ngModel class="form-control">
                        <option value="" disabled selected>Select Departement(s)</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                      </select>
                  </div>
                  
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="group" class="required" >Customer Group </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-people icons"></i></span>
                    </div>
                    <input type="text" id="group" name="group" class="form-control"  required ngModel placeholder="Name of customer group">
                  </div>
                  
                  </div>
        </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="country"  >Country </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-flag icons"></i></span>
                    </div>
                    <select id="my-select" name="country" ngModel class="selectpicker form-control "  multiple>
                        <option value="" disabled selected>Select one or multiple countries</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                      </select>
                  </div>
                  
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="Area"  >Area </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-flag icons"></i></span>
                    </div>
                    <select id="Area" name="Area" ngModel class="form-control">
                        <option value="" disabled selected>Select one or multiple Area</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                      </select>
                  </div>
                  
                  </div>
            </div><!--/.row-->
           
          </div>
       
        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-pill col-sm-1 btn-danger" href="#/administration/customers"  ><i class="fa fa-ban"></i> Cancel</a>
            <button type="submit"  class="btn btn-pill col-sm-1 btn-primary"><i class="fa fa-dot-circle-o"></i> Add</button>
            
          </div>
        </form>
        </div>
      
      </div><!--/.col-->
      
    </div><!--/.row-->